In [ ]:
data=input("Enter name")
age=input("enter age ")
print(f"Hello {data} your age {age}")

Enter namemahadf
enter age 12
Hello mahadf your age 12

In [6]:
data=input("Enter value")
try:
  val=int(data)
  print("input is integer")
except ValueError:
    try:
      value = float(data)
      print("input is float")
    except ValueError:
      print("input is string")

Enter value12.2
input is float

In [3]:
list1=[]
list1.append("fast")
list1.append("apple")
list1.append("xqc")
for item in list1:
    print(item)
list1.remove("xqc")
for item in list1:
    print(item)
for item in list1:
    print(item.upper())

fast
apple
xqc
fast
apple
FAST
APPLE

In [7]:
data=(1,2)
entry1=data[0]
entry2=data[1]
print(entry1)
print(entry2)

1
2

In [ ]:
dictionary={
    "mahad": "1",
    "mad": "2",
    "maa": "3",
    "maha": "4",
    "mah": "5"
}
print(dictionary)

{'mahad': '1', 'mad': '2', 'maa': '3', 'maha': '4', 'mah': '5'}

In [12]:
list1=input("Enter element by space").split(" ")
list2=input("Enter element by space").split(" ")
set1=set(map(int,list1))
set2=set(map(int,list2))
union=set1 | set2
print(union)
intersect=set1.intersection(set2)
print(intersect)
diff=set1.difference(set2)
print(diff)

Enter element by space1 2 3 4
Enter element by space3 4 5 6
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [15]:
data=int(input("enter a number"))
if data%2==0:
  print("even")
else:
  print("odd")
if data>0:
  print("positive")
elif data<0:
  print("negative")
else:
  print("zero")

enter a number12
even
positive

In [16]:

for i in range(1,51):
  if i%3==0 and i%5==0:
    print("FizzBuzz")
  elif i%3==0:
    print("Fizz")
  elif i%5==0:
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [22]:
def factorial(data):
  i=int(data)
  fact=int(1)
  while i!=0:
    fact=fact*i
    i=i-1
  print(fact)

data=input("enter number")
factorial(data)

enter number4
24

In [32]:
def prime(data):
  i=int(data)
  data=int(data)
  i=int(i/2)
  print(i)
  count=0
  while i!=0:
    if data%i==0:
      count=count+1
    i=i-1
  if count==1:
    print("prime")
  else:
    print("not prime")

data=input("enter number")
prime(data)

enter number3
1
prime

In [33]:
def square(num):
    return [x ** 2 for x in num]
list1=[1,2,3,4]
print(square(list1))

[1, 4, 9, 16]

In [34]:
data1={"a":1,"b":2,"c":3,}
data2={"a":4,"e":5,"f":6}
data1.update(data2)
print(data1)

{'a': 4, 'b': 2, 'c': 3, 'e': 5, 'f': 6}

In [35]:
def rem(list1):
  uniquelist=[]
  for item in list1:
    if item not in uniquelist:
      uniquelist.append(item)
  return uniquelist
data=[1,2,3,4,5,5,5,6,7,7]
data=rem(data)
print(data)

[1, 2, 3, 4, 5, 6, 7]

In [74]:

def pal(data):
  i=len(data)-1
  j=0
  while j<i:
    if data[i]==' ':
      i-=1
    if data[j]==' ':
      j+=1
    if(data[i].lower()!=data[j].lower()):
      return False
    i-=1
    j+=1
  return True
data=input("enter string")
if(pal(data)):
  print("palindrome")
else:
  print("not palindrome")

enter stringheeeh
palindrome

In [42]:
def fibonaci(n):
  if(n==1):
    print("0")
  else:
    print("0")
    prev=0
    current=1
    for i in range(1,n):
      print(f"{current}")
      next=prev+current
      prev=current
      current=next
n=int(input("enter number"))
fibonaci(n)

enter number10
0
1
1
2
3
5
8
13
21
34

In [45]:
list1=[]
c=False
while (c==False):
  list1.append(input("Enter first number"))
  list1.append(input("Enter second number"))
  list1.append(input("Enter third number"))
  list1.append(input("Enter fourth number"))
  list1.append(input("Enter fifth number"))
  print(f"your input{list1}")
  d=input("is input correct(y or n2)")
  if(d=="y"):
    c=True
  else:
    list1.clear()
sum=0
for i in range(5):
  sum=sum+int(list1[i])
print(sum/5)

Enter first number1
Enter second number2
Enter third number3
Enter fourth number4
Enter fifth number5
your input['1', '2', '3', '4', '5']
is input correct(y or n2)y
3.0

In [49]:
for i in range(1,11):
  for j in range(1,11):
    print(f"{i}*{j}={i*j}")
  print()

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80

9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90

10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [ ]:

data = {}

def register():
    username = input("Enter a username: ")
    if username in data:
        print("Username already taken.")
    else:
        password = input("Enter a password: ")
        data[username] = password
        print(f"register successfully")

def login():
    username = input("Enter your username:")
    password = input("Enter your password:")

    if username in data and data[username] == password:
        print(f"Login successful")
    else:
        print("Invalid username or password")


def system():
    c=True
    while c:
        print("Input number")
        print("1 to Register,2 to login,3 to exit ")
        choice = input("Choose an option (1/2/3): ")
        if choice == "1":
            register()
        elif choice == "2":
            login()
        elif choice == "3":
            c=False
        else:
            print("Invalid input")

system()

In [56]:
list1=input("enter list seperated by spaces").split(" ")
dicti={}
count=0;
for i in list1:
  if i in dicti:
    dicti[i]=dicti[i]+1
  else:
    dicti[i]=1
print(dicti)

enter list seperated by spacesap ap c c sa
{'ap': 2, 'c': 2, 'sa': 1}

In [59]:
def convert(choice,number):
  if choice==1:
    ans=number*9/5+32
    print(ans)
  else:
    ans=(number-32)*5/9
    print(ans)
choice=int(input("enter choice(1 for C to F ,anything for F to C) "))
number=int(input("enter number"))
convert(choice,number)

enter choice(1 for C to F ,anything for F to C) 1
enter number3
37.4